{% extends "layout.html" %}
{% block head %}
    <script type="text/javascript" src="{{ url_for('static', filename='character.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="container">
        <div id="permaName">{{ permaName }}</div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <input id="name" class="form-control" type="text">
                <div>Name</div>
            </div>

            <div class="col-sm-2">
                <input id="race" class="form-control" type="text">
                <div>Race</div>
            </div>

            <div class="col-sm-2">
                <input id="class_" class="form-control" type="text">
                <div>Class</div>
            </div>

            <div class="col-sm-1">
                <input id="level" class="form-control" type="text">
                <div>Level</div>
            </div>

            <div class="col-sm-2">
                <input id="xp" class="form-control" type="text">
                <div>XP</div>
            </div>

            <div class="col-sm-2">
                <form id="updateXp" role="form">
                    <input type="text" id="newXp" placeholder="0" class="form-control">
                    <input type="submit" class="btn btn-success" value="Gain XP"></button>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2">
                <input id="armor" class="form-control" type="text">
                <div>Armor</div>
            </div>

            <div class="col-sm-2">
                <input id="weapons" class="form-control" type="text">
                <div>Weapons</div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="row">
                    <h1>Initiative</h1>
                    <table class="table table-striped">
                        <tr>
                            <td>Initiative</td>
                            <td>
                                <input id="initiative" class="form-control" type="text">
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="row">
                    <h1>Ability Scores</h1>
                    <table class="table table-striped">
                    {% for (name) in ("Str", "Con", "Dex", "Int", "Wis", "Cha") %}
                        <tr>
                            <td>
                                <input id="abilScore{{ name }}" class="form-control" type="text">
                            </td>
                            <td>{{ name }}</td>
                            <td>
                                <input id="abilModPlus{{ name }}" class="form-control" type="text">
                            </td>
                        </tr>
                    {% endfor %}
                    </table>
                </div>
                <div class="row">
                    <h1>Defenses</h1>
                    <table class="table table-striped">
                    {% for name in ("Ac", "Fort", "Ref", "Will") %}
                        <tr>
                            <td>{{ name }}</td>
                            <td>
                                <input id="{{ name }}" class="form-control" type="text">
                            </td>
                        </tr>
                    {% endfor %}
                    </table>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="row">
                    <h1>Speed</h1>
                    <table class="table table-striped">
                        <tr>
                            <td>Speed</td>
                            <td>
                                <input id="speed" class="form-control" type="text">
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="row">
                    <h1>Senses</h1>
                    <table class="table table-striped">
                        <tr>
                            <td>Passive Insight</td>
                            <td>
                                <input id="passiveInsight" class="form-control" type="text">
                            </td>
                        <tr>
                        <tr>
                            <td>Passive Perception</td>
                            <td>
                                <input id="passivePerception" class="form-control" type="text">
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="row">
                    <h1>Hit Points</h1>
                    <table class="table table-striped">
                        <tr>
                            <td>Health</td>
                            <td>
                                <input id="health" class="form-control" type="text">
                            </td>
                        </tr>
                        <tr>
                            <td>Bloodied</td>
                            <td>
                                <input id="bloodied" class="form-control" type="text">
                            </td>
                        </tr>
                        <tr>
                            <td>Surge Value</td>
                            <td>
                                <input id="surgeValue" class="form-control" type="text">
                            </td>
                        </tr>
                        <tr>
                            <td>Surges/Day</td>
                            <td>
                                <input id="surgesPerDay" class="form-control" type="text">
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="row">
                    <h1>Skills</h1>
                    <table class="table table-striped">
                        {% for name in ("Acrobatics", "Arcana", "Athletics", "Bluff", "Diplomacy",
                            "Dungeoneering", "Endurance", "Heal", "History", "Insight", "Intimidate",
                            "Nature", "Perception", "Religion", "Stealth", "Streetwise", "Thievery")
                        %}
                            <tr>
                                <td>{{ name }}</td>
                                <td>
                                    <input id="{{ name }}" class="form-control" type="text">
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="row">
                    <h1>Powers</h1>
                    <div id="powers"></div>
                </div>

                <div class="row">
                    <h1>Feats</h1>
                    <div id="feats"></div>
                </div>
            </div>


            <div class="col-sm-4">
                <div class="row">
                    <h1>Magic Items</h1>
                    <div id="magicItems"></div>
                </div>

                <div class="row">
                    <h1>Items</h1>
                    <div id="items"></div>
                </div>

                <div class="row">
                    <h1>Gain Item</h1>
                    <form id="updateItem" role="form">
                        <input type="text" id="newItem" class="form-control">
                        <input type="submit" class="btn btn-success" value="Gain Item"></button>
                    </form>
                </div>

                <div class="row">
                    <h1>Gain Gold</h1>
                    <form id="updateGold" role="form">
                        <input type="text" id="newGold" placeholder="0" class="form-control">
                        <input type="submit" class="btn btn-success" value="Gain Gold"></button>
                    </form>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="row">
                    <h1>Selected</h1>
                    <h2 id="selectedTitle"></h1>
                    <div class="col-sm-10">
                        <div id="selected"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
