<!doctype html>
<head>
    <title>Character Sheet</title>

    <script type="text/javascript" src="{{ url_for('static', filename='jquery-1.11.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap/3.2.0/js/bootstrap.min.js') }}"></script>
    <link href="{{ url_for('static', filename='bootstrap/3.2.0/css/bootstrap.min.css') }}" rel="stylesheet">

    {% block head %} {% endblock %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>

<div class=page>
    <div class="container">
        <h1>Character</h1>
        <h2><a href="/">Home</a></h2>
    </div>
    {% block body %} {% endblock %}
</div>
